<!DOCTYPE html>
<html lang="en">
	{{block "head" .}} {{end}}
	<body>
		<div class="hexagon z-1 centered">
			<div>
				<div class="anim-point">
					<div class="anim-point">
						<span class="one anim-point6"></span>
						<span class="two anim-point3"></span>
					</div>
				</div>

				<div class="anim-point">
					<div class="anim-point">
						<span class="one anim-point1"></span>
						<span class="two anim-point4"></span>
					</div>
				</div>

				<div class="anim-point">
					<div class="anim-point">
						<span class="one anim-point5"></span>
						<span class="two anim-point2"></span>
					</div>
				</div>
			</div>
			<img class="z-2" src="/assets/img/icon180.png" />
		</div>
		<br/>
		<div class="uk-container uk-width-xlarge wrap uk-padding uk-border-rounded uk-hidden">
			<div class="uk-text-center data-block uk-box-shadow-medium">
			</div>
		</div>
		
		{{block "scripts" .}} {{end}}
	</body>
</html>
